#### 1 operators

In [7]:
print("The value of 3 + 5 =", 3+5)
print("The value of 3 - 5 =", 3-5)
print("The value of 3 * 5 =", 3*5)
print("The value of 3 / 5 =", 3/5)
print("The value of 3 // 5 =", 3//5)
print("The value of 3 % 5 =", 3%5)

print("This is a \"\" ")
mls ="""
This is a multiline
Hello, my name is ashish
I started this python for abslute biginner
because, In pynative exercise, input output,
there is a problem about text file & I didn't 
solve this problem. So, i desided to start this 
playlist again.

"""
print(mls)

The value of 3 + 5 = 8
The value of 3 - 5 = -2
The value of 3 * 5 = 15
The value of 3 / 5 = 0.6
The value of 3 // 5 = 0
The value of 3 % 5 = 3
This is a ""

This is a multiline
Hello, my name is ashish
I started this python for abslute biginner
because, In pynative exercise, input output,
there is a problem about text file & I didn't
solve this problem. So, i desided to start this
playlist again.

#### 2 more about string

In [11]:
print("%s to the right"%('this is a string'))
print('this is a print statement 1', end = " ")
print('this is a print statement 2')
print("this "* 50) #

this is a string to the right
this is a print statement 1 this is a print statement 2
this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this

####  3 lsit

In [15]:
college = ['Bamna Govt.', 'lemua', "BUET"]
print(college[1])
college[1] = 'Asmatunnesa girls college'
print(college[1])
print(college)
print(college[1:3])

lemua
Asmatunnesa girls college
['Bamna Govt.', 'Asmatunnesa girls college', 'BUET']
['Asmatunnesa girls college', 'BUET']

#### 4 list indexing and add items in list

In [21]:
list1 = ['table', 'chair', 'light', 'fan', 'bed', 'sofa', 'window']
list1.insert(3, 'microphone')
print(list1)
print(list1 + ['pillow', 'tubelilght', 'door'])
print(len(list1))
print(max(list1))
print(min(list1))

['table', 'chair', 'light', 'microphone', 'fan', 'bed', 'sofa', 'window']
['table', 'chair', 'light', 'microphone', 'fan', 'bed', 'sofa', 'window', 'pillow', 'tubelilght', 'door']
8
window
bed

#### 5 Tuples

In [24]:
tupl1 = (1, 2, 3)
list1 = list(tupl1)
print(list1)
print(len(list1))
print(min(list1))
print(max(list1))

[1, 2, 3]
3
1
3

#### 6 dictonaries

In [11]:
names = {
    'Ashsih' : 22,
    'Rana' : 41,
    'Rabbi' : 19,
    'Nipu' : 24
}
print(names['Rana'])
names['Rabbi'] = 27
print(names['Rabbi'])

print(names.keys())
print(names.values())

41
27
dict_keys(['Ashsih', 'Rana', 'Rabbi', 'Nipu'])
dict_values([22, 41, 27, 24])

#### 7 if-else statements

In [13]:
number = int(input("enter the marks:"))
if number >= 90:
    grade = 'A'
elif number> 80:
    grade = 'B'
else:
    grade = "Don't knowðŸ˜ª"
print("The grade is", grade)

enter the marks:40
The grade is Don't knowðŸ˜ª

#### 8 loops-- for loops

In [17]:
print("How many time do you want to execute: ")
number = int(input())
for i in range(0, number):
    print(i)
list1 =[[1,2,3], [4,5,6], [7,8,9]]
    
for item in list1:
    for i in item:
        print(i)

How many time do you want to execute:
5
0
1
2
3
4
1
2
3
4
5
6
7
8
9

#### 9 loops -- while looops

In [39]:
print("Enter the number: ")
number = int(input())

while (number > 4):
    print("Number is greater than 4")
    number = int(input())
    if number == 9:
        break
    if number == 8:
        continue
    print("loop ended")

Enter the number:
6
Number is greater than 4
7
loop ended
Number is greater than 4
8
Number is greater than 4
9

#### 10 functions in python:

In [43]:
## functions
def average(num1, num2):
    return(num1+ num2)/2


print(average(2,3))

2.5

#### 11 string in details

In [49]:
# STRINGS
string1 = "this is me"
print(string1[0:2])
print(string1[-2:])
print(string1[:-2])
print(string1.capitalize())
print(string1.find("this is ashish"))
print(string1.replace("is", "are"))

th
me
this is
This is me
-1
thare are me

## 12 file handeling in python:

In [54]:
file1 = open("test filep.txt", "wb") 
print(file1. mode)
print(file1.mode)
print(file1.write(bytes("write this, it is my first txt file that created with python. ", "UTF-8")))
file1.close()

wb
wb
62

# 13 Object Oriented programming

In [1]:
## object oriented programming
class Employee:
    name = ""
    id = ""
    salary = ""
    
    def set_name(self, name):
        self.__name = name
        
    def get_name(self):
        return self.__name 
        
ashish = Employee()
ashish.set_name('ashish')
print(ashish.get_name())

ashish

#### 14 OOP Topic: class student

In [17]:
class Student:
    roll = ""
    age = ""
    gpa = ""
    
    
rahim = Student()
print(isinstance(rahim,Student))
rahim.age = 25
rahim.gpa = 3.95
rahim.roll = 1003
print(f"Roll : {rahim.roll}, Age : {rahim.age}, GPA : {rahim.gpa} ")

karim = Student()
print(isinstance(rahim,Student))
karim.age = 27
karim.gpa = 3.85
karim.roll = 1005
print(f"Roll : {karim.roll}, Age : {karim.age}, GPA : {karim.gpa} ")

True
Roll : 1003, Age : 25, GPA : 3.95
True
Roll : 1005, Age : 27, GPA : 3.85

#### 15 Basic class object concept : Vaicle

In [25]:
class Vaicle:
    wheel = ""
    speed = ""
    length = ""
    route = ""

bike = Vaicle()
bike.wheel = 2
bike.speed = '300km'
bike.length = '5.3ft'
bike.route = 'landroad'
print(f"Bike wheel: {bike.wheel}, Bike speed: {bike.speed}, Bike length: {bike.length}")

print("\n")

ship = Vaicle()
ship.wheel = "no wheel but propeller fan"
ship.speed = 'avg 30 nautical mile'
ship.length = 'avg 500 meter /or+ '
ship.route = 'ocean'
print(f"ship wheel: {ship.wheel}, Ship speed: {ship.speed}, ship length: {ship.length}")

Bike wheel: 2, Bike speed: 300km, Bike length: 5.3ft


ship wheel: no wheel but propeller fan, Ship speed: avg 30 nautical mile, ship length: avg 500 meter /or+

In [ ]:
salary = int(input("Enter your salary: "))
while True:
    if salary == "300000":
        print("You are poor. You don't need to pay the taxðŸ˜Ž")
    elif